<div class="container">
    <div id="titre"><h2>Conditions générales de ventes</h2></div>
    <div id="article">
        <article>
            <h3>Article 1 : Offre</h3>
            <p>
                La société taxi a pour objet le transport de personnes à titre onéreux, pour cela elle met à
                disposition des utilisateurs, via son site www.taxi.fr ,un logiciel de réservation de véhicules avec chauffeurs pour
                les particuliers et les professionnels.
            </p>
        </article>
        <article>
            <h3>Article 2 : Réservation</h3>
            <p>
                Toute réservation doit être effectuée par le Client ou par un mandataire dûment autorisé. Pour toute
                réservation, le
                client devra fournir les informations suivantes :

                Informations sur le client :
                Nom, prénom, numéro de téléphone et email.

                Informations sur le trajet :
                Date et heure de prise en charge, lieu de départ et d’arrivée, nombre de passagers, nécessité de siège
                rehausseur,
                nombre de bagages.
            </p>
        </article>
        <article>
            <h3>Article 3 : Annulation et modification</h3>
            <p>
                Le client peut demander l’annulation de la prestation jusqu’à 24 heures avant la date et l’heure de
                prise en charge
                et obtenir le remboursement des sommes versées.

                Le prestataire peut annuler le transport du client en cas de force majeure, dans ce cas le client pourra
                bénéficier
                d’un dédommagement. Il peut également annuler le transport si le client ne se présente pas au lieu
                convenu, au-delà
                d’un délai fixé à 15 minutes. Dans cette dernière hypothèse, le client se verra facturer son manquement.

                Toute modification du trajet par le client au cours de la prestation et entraînant des changements de
                programme,
                pourra engendrer des suppléments à régler sur place ou à la fin de la prestation.
            </p>
        </article>
        <article>
            <h3>Article 4 : Mise à disposition</h3>
            <p>
                Toute prestation de mise à disposition doit faire l’objet d’une réservation écrite. Elle doit être
                effectuée par le
                client ou par un mandataire dûment autorisé. Toute réservation mentionne impérativement le lieu
                d’exécution de la
                prestation, le nombre de passagers et le nom ainsi que les coordonnées du bénéficiaire de la prestation
                si celui-ci
                est différent de celles du client.

                Toute annulation de mise à disposition devra être signalée 48 heures avant le début de la prestation. À
                défaut et
                pour quelques causes que ce soient, il sera dû, à titre de pénalité fixe et forfaitaire, non déductible
                égale au
                montant initialement prévu lors la réservation.

                La prestation n’est valable qu’une fois, et s’il s’avérait que le client n’était pas présent sur le lieu
                de
                rendez-vous, la prestation serait définitivement perdue et ne donnera aucun droit à remboursement. Toute
                attente,
                au-delà d’une franchise d’une heure, sera facturée sur la base horaire mentionnée dans nos tarifs de la
                catégorie du
                véhicule réservé.
            </p>
        </article>
        <article>
            <h3> Article 5 : Tarifs</h3>
            <p>
                Les tarifs communiqués par notre module de réservation sont donnés à titre indicatif et peuvent varier
                en fonction
                de la période ou de l’horaire souhaité, pour obtenir une confirmation des tarifs le client devra
                effectuer une
                demande de devis en ligne via la formulaire de contact CONTACTEZ NOUS.

                Le tarif de transfert s’applique au déplacement direct sans arrêt depuis le point de prise en charge
                jusqu’au point
                d’arrivée, le service se terminant immédiatement après. La quantité de bagages transportée est
                proportionnelle à la
                capacité du véhicule.

                Les prix indiqués incluent le véhicule, la prestation chauffeur, l’assurance pour les personnes
                transportées, le
                carburant, les kilomètres et le temps déterminés lors de la réservation et /ou lors de la conclusion du
                contrat
                ainsi que le transport des bagages du client dans la limite de la possibilité du véhicule. Le coût des
                péages,
                parking, lieux de stationnement ou d’entrée dans quelques lieux que ce soient choisis par le client
                et/ou rendus
                indispensables pour l’exécution de la prestation non initialement prévue dans le trajet demeurent à la
                charge du
                client.
                Le prix donné correspond à un prix par véhicule, quel que soit le nombre de personnes (de 1 à 4
                personnes pour la
                gamme BERLINE par exemple)

                À noter que toutes les photos communiquées sur nos documents et site le sont à titre illustratif et non
                contractuel.
            </p>
        </article>
        <article>
            <h3> Article 6 : Règlement</h3>
            <p>
                Pour les clients occasionnels, nos prestations sont payables à la réservation (paiement en ligne via
                Stripe) ou à
                bord du véhicule par carte bancaire (paiement par TPE via SumUp) ou par espèces.

                Pour les clients en compte, les factures sont payables dès réception par virement bancaire.

                Toute facture non payée dans les 5 jours suivant la date de facturation de la prestation entraîne de
                plein droit
                l’application de pénalités de 40€ et d’un montant égal à 3 fois le taux d’intérêt légal.

                Dans tous les cas, le client, signataire de la réservation, est seul responsable du paiement de la
                prestation
            </p>
        </article>
        <article>
            <h3> Article 7 : Clauses limitatives de responsabilités</h3>
            <p>
                Taxi s’engage à faire le nécessaire pour mener le passager à destination dans les meilleurs
                délais et dans des conditions de sécurité optimales conformément au Code de la route et aux lois en
                vigueur.

                Taxi ne peut en aucun cas être tenue responsable des retards sur les délais de transports dus à des
                circonstances indépendantes de sa volonté : route barrée, pont interdit à la circulation, déviation,
                route inondée,
                embouteillages, interventions sur chaussée de forces de police, douanes ou pompiers, etc…(sans que cette
                liste soit
                limitative).

                Taxi ne peut en aucun cas être tenue responsable des retards dus à des cas de force majeure :
                grèves, conditions météorologiques, attentats, émeutes, etc…(sans que cette liste soit limitative).

                Taxi ne peut en aucun cas être tenue responsable des retards directement issu d’un retard initial
                d’un client, ou de la nécessité d’effectuer un trajet, à la demande du client, dans un délai
                manifestement trop
                court.

                En cas d’immobilisation du véhicule en cours de trajet dû à une défaillance mécanique, un accident ou un
                dommage
                (vol, dégradation), Taxi s’efforcera d’assurer la continuité du parcours, soit avec l’un de ces
                véhicules, soit avec un véhicule affrété à une autre compagnie et s’engage à prévenir le donneur
                d’ordre. Les
                bagages ou tout autre objet propriété du client restent sous la responsabilité de la personne
                transportée.

                Le chauffeur est dans l’obligation de respecter les différentes réglementations applicables à la
                circulation des
                véhicules et veiller, dans le cadre de l’exécution de la prestation, à prendre les mesures nécessaires à
                la
                préservation de la sécurité des occupants du véhicule et la bonne conservation de ce dernier.

                Ainsi, le chauffeur se réserve expressément la possibilité de refuser toutes instructions et/ou demandes
                du client
                qu’il considérait comme étant de nature à compromettre la sécurité des occupants du véhicule et/ou la
                bonne
                conservation de celui-ci.
                Le nombre de passagers autorisés (y compris le chauffeur) est celui figurant dans les caractéristiques
                techniques du
                Véhicule. Il ne pourra jamais être dépassé.

                Les dommages de toute nature causés au véhicule et/ou autres véhicules (par exemple, lors de l’ouverture
                intempestive des portières) seront à la charge du client à moins qu’il ne soit démontré qu’ils
                proviennent du fait
                d’un tiers. Ne peuvent être considérés comme des tiers les occupants du véhicule, les préposés,
                prestataires et
                invités du client.

                Taxi se réserve le droit d’interrompre la prestation en cours si le chauffeur s’aperçoit que le
                client commet une infraction, par exemple l’usage de stupéfiants, ou encore si le comportement des
                clients mettait
                en péril la sécurité du chauffeur, ou bien si les clients étaient insultants vis-à-vis du chauffeur.

                Le transport d’animaux est interdit sauf dans les cas d’animaux (chien) accompagnateurs de personnes
                malvoyantes.

                Dans le cas où Taxi serait dans l’impossibilité de mettre à disposition le véhicule prévu dans le
                contrat, l’acompte sera remboursé, à moins que les deux parties s’entendent sur la mise à disposition
                d’un autre
                véhicule.

                Taxi se réserve la faculté de ne pas exécuter la prestation en cas de survenance d’un cas de
                force majeure, d’un cas fortuit, du fait d’un tiers ou encore de tout événement pouvant présenter un
                risque pour le
                client, ses invités, ses préposés, le chauffeur ou le véhicule. Dans ce cadre, l’inexécution totale ou
                partielle de
                la prestation ne peut donner lieu à aucune indemnisation du client.

                Taxi n’est tenu d’aucune obligation de garde des bagages, ni de tous autres objets, biens,
                vêtements, effets, etc. laissés dans le véhicule pendant et à l’issue de la prestation.

                A noter que toutes les photos communiquées sur nos documents et site le sont à titre illustratif et non
                contractuel.
            </p>
        </article>
        <article>
            <h3>Article 8 : Assurances</h3>
            <p>
                La responsabilité de la société Taxi est limitée aux clauses de ses contrats d’assurance.

                Nos véhicules sont assurés pour le transport de personnes et nos voyageurs pour tous les dommages
                corporels et aussi
                pour la responsabilité civile professionnelle auprès de notre assureur MAAF.

                Le donneur d’ordres aura toute faculté de souscrire une assurance complémentaire à sa charge pour les
                frais
                d’annulation, les frais de rapatriement ou la couverture des bagages transportés sans que cette liste ne
                soit
                limitative.
            </p>
        </article>
        <article>
            <h3> Article 9: Règles de police et de sécurité</h3>
            <p>
                Le véhicule et le chauffeur seront munis des documents de bord nécessaires au bon déroulement de la
                prestation de
                transport.
                Conformément à la loi en vigueur dans tous les lieux publics, il est formellement interdit de fumer à
                bord de nos
                véhicules.

                Conformément aux dispositions du code des débits de boissons, il est interdit de consommer des boissons
                alcoolisées
                à bord de nos véhicules.

                Le port de la ceinture de sécurité est obligatoire pour tous les passagers dans les véhicules munis de
                cet
                équipement.
            </p>
        </article>
        <article>
            <h3>Article 10 : Collecte de données personnelles</h3>
            <p>
                La société Taxi s’engage à respecter la vie privée de ses clients.

                Les informations nominatives et autres données communiquées ne seront utilisées dans aucun autre but que
                l’amélioration du service fourni et ne seront en aucun cas transmises à des tiers.
            </p>
        </article>

    </div>

</div>